<a href="#" class="list-group-item active">ybbbyybby</a>

<a href="/product" class="list-group-item">
    tyyyt</a>
<a href="/productadd" class="list-group-item">
    tttttttttt</a>

<a href="#" class="list-group-item active">bbbbbbbb</a>

<a href="/" class="list-group-item">
    yyyyyyyyyyyyy</a>
<a href="/add" class="list-group-item">
    ttttttt</a>